CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
http_files
bin
example/ClientStub.cc
example/ClientStub.h
example/protofile.json
example/rpc_ping.pb.cc
example/rpc_ping.pb.h
