CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
http_files
bin
example/helloworld/*
!example/helloworld/client.cpp
!example/helloworld/server.cpp
!example/helloworld/helloworld.proto
!example/helloworld/CMakeLists.txt

example/ping/*
!example/ping/client.cpp
!example/ping/server.cpp
!example/ping/rpc_ping.proto
!example/ping/CMakeLists.txt

