.idea
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build
http_files
bin
generator/coappbrpc.sh
generator/coappbrpc.sh.x
generator/coappbrpc.sh.c
example/proto/ClientStub.cc
example/proto/ClientStub.hh
example/proto/protofile.json